*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;
}

:root
{
  /* Primary colors */
  --primary-red: hsl(1, 90%, 64%);
  --primary-blue: hsl(219, 85%, 26%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --very-dark-blue: hsl(224, 21%, 14%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --sm-width: 375px;
  --bg-width: 1440px;
  --m-auto: auto;
}

@font-face {
  font-family: myFont;
  src: url(PlusJakartaSans-Medium.ttf);
}

@font-face {
  font-family: myBoldFont;
  src: url(PlusJakartaSans-ExtraBold.ttf);
}

@font-face {
  font-family: myFontVariant;
  src: url(PlusJakartaSans-VariableFont_wght.ttf)
}

html
{
  font-family: myFontVariant;
  font-size: 16px;
  /* font-weight: var(--fw-500); */
  /* font-stretch: ultra-expanded; */
}

body
{
  font-size: 1rem;
  max-width: var(--sm-width);
  margin-right: var(--m-auto);
  margin-left: var(--m-auto);
  color: var(--dark-grayish-blue);
}

.container
{
  /* overflow: hidden; */
  padding: 30px 0;
}

div,
img,
p,
section,
article
{
  display: block;
}

a
{
  color: inherit;
  text-decoration: none;
}

img
{
  max-width: 45px;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
}

.main-headings
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1
{
  font-size: 1.3rem;
  color: var(--very-dark-blue);
}

h1 span
{
  background-color: var(--primary-blue);
  color: var(--white);
  border-radius: 8px;
  padding: 2px 12px;
  margin-left: 5px;
}

p.h1
{
  color: var(--dark-grayish-blue);
}

p.h1:hover
{
  color: var(--primary-blue);
}

main
{
  padding: 20px 0;
}

[data-dot]>i
{
  font-size: 10px;
  color: var(--primary-red);
  margin-left: 5px;
  vertical-align: middle;
}

#notification-lists
{
  display: grid;
  row-gap: 10px;
}

.notification-content-items
{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 15px;
}

li
{
  list-style: none;
  padding: 20px 12px;
  border-radius: 15px;
}

.bg-light-blue
{
  background-color: var(--very-light-grayish-blue);
}

span.name
{
  color: var(--very-dark-blue);
  font-family: myBoldFont;
  margin-right: 5px;
}

.notification-message
{
  display: grid;
  row-gap: 4px;
  justify-content: baseline;
}

[data-2-grids] {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 15px;
}

[data-boldtext-color]
{
  font-family: myBoldFont;
  color: var(--dark-grayish-blue);
  margin-left: 5px;
}

[data-boldtext-color="blue"]
{
  color: var(--primary-blue);
}

#rizky-message
{
  margin-top: 8px;
  border: 1px solid var(--light-grayish-blue-2);
  background-color: var(--very-light-grayish-blue);
  padding: 18px;
  border-radius: 12px;
}

#rizky-message:hover {
  background-color: var(--light-grayish-blue-1);
  cursor: pointer;
}

p.time
{
  color: var(--grayish-blue);
}

[data-chess]:hover {
  cursor: pointer;
}

[data-darkblue-hover]:hover {
  color: var(--primary-blue);
  cursor: pointer;
}

@media (min-width: 1440px) {
  body {
    max-width: var(--bg-width) !important;
    background-color: var(--light-grayish-blue-1);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
  }

  .container {
    background-color: var(--white);
    border-radius: 15px;
    max-width: 50%;
    display: block;
    margin-right: var(--m-auto);
    margin-left: var(--m-auto);
  }

  .body-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    margin-left: 15px;
  }
}
